html, body {
  font-family: serif;
  font-size: 48px;
  background-color: black;

  max-width: 100%;
  padding-bottom:60px;   /* Height of the footer */

  margin: auto;
  padding: 0;
  overflow:auto;
}

page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100%;
  border: white solid 1px;
}

.page {
  margin: 40px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.projects {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 50px;
  width: 50%;

  max-width: 700px;
  min-height: 300px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover {
  transition: .5s ease;
}

img {
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
}

.bio {
  color: white;
  font-family: 'Roboto Mono';
  font-size: 30px;
  font-size: 2.5vw;
}

.text {
  max-width: 100%;

  border: white solid 1px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

  margin-top: 90%;
}

#burst.text {
  background-color: black;
  border-color: orange;
}

.para {
  max-width: 100%;
  color: black;
  font-size: 24px;
  padding: 16px 32px;
}

#ll5:hover {
  color: #2afd39;
}

#burst:hover {
  color: orange;
  background-color: black;
}

#towerdefense:hover {
  color: green;
  background-color: black;
}

#scarebnb:hover {
  color: orange;
}

.link {
  font-size: 28px;
  text-decoration: none;
  color: #551A8B;
}
.link:hover {
  color: #2afd39;
}


.hide {
  display: none;
}

.show {
  padding-top: 30px;
  width: 100%;
}

.lucidlab5 {
  font-family: 'Roboto Mono';
  border: #551A8B solid 1px;
  width: 100%;
}

.lucidlab5:hover  {
  /*border: #2afd39 solid 3px;*/
}

.burst-gallery {
  font-family: 'Raleway';
  color: orange;
  font-size: 25px;
  border: orange solid 1px;
  background-color: #FFF;
}

.burst-gallery:hover {
  z-index: 3;
}

.towerdefense {
  font-family: 'Roboto Mono';
  color: green;
  font-size: 25px;
  border: green solid 1px;
}

.scarebnb {
  font-family: 'Tangerine';
  border: orange solid 1px;
  color: white;
}

#scareInfo, #ll5Info {
  font-family: 'PT Sans';
  font-size: 35px;
  margin-top: 20px;
  background-color: white;
}

#ll5Info {
  height: 800px;
}

.title {
  color: white;
}

.footer {
  z-index: 10;
  position: fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  color: white;

  background-color: black;
  border-top: white solid 1px;
  padding: 2px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}
